<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to StaffingApp.com, <%= @user.name %></h1>
    <p>
      Your Account have been successfully created at StaffingApp.com,
      your username is: <%= @user.emailid %>.<br>
      Your Default Password is Password@123
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      For any issue regarding Login, Contact your Group admin.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>