<div class="row placeholders">
<% @groups.each do |group| %>
	<div class="col-xs-6 col-sm-3 placeholder">
	  
	  <h4><%= link_to group.name ,group_path(group) %></h4><br>
	  <%= link_to 'edit' ,edit_group_path(group) %>
	  <%= link_to 'delete' ,group_path(group), method: :delete ,data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>
</div>
<hr>
<div class="col-xs-6 col-sm-3 placeholder">
<%= link_to 'New' ,new_group_path %>
<div class="col-xs-6 col-sm-3 placeholder">
